$backgroundColor: #744b4bc1;
$fontFamily:Lucida, Gill Sans, sans-serif;;
;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:$fontFamily;
}

body {
  background: $backgroundColor;
  height: 100%;

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  footer {
    background: darken($backgroundColor, 50);
    border-top: 1px solid #eee;
    padding: 1em 3em;
    margin: 0;
  }

  div{
    text-align: center;
    
  }

  header {
    background: darken($backgroundColor, 75);
    border-radius: 15px;
    color: #eee;
    padding: 10px;
    margin: 20px;
    text-align: center;
  }
}
